<a href="https://colab.research.google.com/github/Natural-Language-Processing-YU/Exercises/blob/main/Exercise_Naive_Bayes_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Naïve Bayes Classifier belongs to the family of probability classifier, using Bayesian theorem. The reason why it is called ‘Naïve’ because it requires rigid independence assumption between input variables. Therefore, it is more proper to call Simple Bayes or Independence Bayes. This algorithm has been studied extensively since 1960s. Simple though it is, Naïve Bayes Classifier remains one of popular methods to solve text categorization problem, the problem of judging documents as belonging to one category or the other, such as email spam detection.

The goal of Naïve Bayes Classifier is to calculate conditional probability:


for each of K possible outcomes or classes Ck.

Let x=(x1,x2,…,xn). Using Bayesian theorem, we can get:


The joint probability can be written as:


Assume that all features x are mutually independent, we can get:


Therefore, formula can be written as:


Therefore, this is the final formula for Naïve Bayes Classifier.

2. How to calculate parameters and make a prediction in Naïve Bayes Classifier?

Maximum Likelihood Estimation (MLE) is used to estimate parameters — prior probability and conditional probability.


The prior probability equals the number of certain cases of y occur divided by the total number of records.


The conditional probability of p(x1=a1|y=C1) equals the number of cases when x1 equals to a1 and y equals to C1 divided by the number of cases when y equals to C1.

Naïve Bayes Classifier uses following formula to make a prediction:

[<img src="https://miro.medium.com/v2/resize:fit:640/1*H3HGRc39_cO3ByUePdanXQ.gif">](https://miro.medium.com/v2/resize:fit:640/1*H3HGRc39_cO3ByUePdanXQ.gif)

For example, 15 records in the table below are used to train a Naïve Bayes model, and then a prediction is made to a new record X(B, S).

[<img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*I6X2h2D_NcAggoPFiDGMgQ.png
">]()



Use formula above to estimate prior and conditional probability, and we can get:

[<img src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*t-Jd4AHdgiUPozbtVskR4w.png
">]()

# Step 1: Create a dataset.

In [4]:
#########################
# Create data
#########################
import numpy as np
import pandas as pd

data=[['A','S',0],
      ['A','M',0],
      ['A','M',1],
      ['A','S',1],
      ['A','S',0],
      ['B','S',0],
      ['B','M',0],
      ['B','M',1],
      ['B','L',1],
      ['B','L',1],
      ['C','L',1],
      ['C','M',1],
      ['C','M',1],
      ['C','L',1],
      ['C','L',0]
      ]
data = pd.DataFrame(data,columns=['x1','x2','y'])
display(data)

   x1 x2  y
0   A  S  0
1   A  M  0
2   A  M  1
3   A  S  1
4   A  S  0
5   B  S  0
6   B  M  0
7   B  M  1
8   B  L  1
9   B  L  1
10  C  L  1
11  C  M  1
12  C  M  1
13  C  L  1
14  C  L  0

# Step 2: Train Naïve Bayes Model by calculate prior and conditional probability.

In [5]:
###########################
# Train Naive Bayes Model
###########################
def Naive_Bayes(data):
    # Step 1: Calculate Prior Probability
    y_unique = data.y.unique()
    prior_probability = np.zeros(len(data.y.unique()))
    for i in range(0,len(y_unique)):
        prior_probability[i]=sum(data['y']==y_unique[i])/len(data['y'])

    # Step 2: Calculate Conditional Probability
    conditional_probability = {}
    for i in range(1,data.shape[1]):
        x_unique = list(set(data['x'+str(i)]))
        x_conditional_probability = np.zeros((len(data.y.unique()),len(set(data['x'+str(i)]))))
        for j in range(0,len(y_unique)):
            for k in range(0,len(x_unique)):
                x_conditional_probability[j,k]=data.loc[(data['x'+str(i)]==x_unique[k])&(data['y']==y_unique[j]),].shape[0]/sum(data['y']==y_unique[j])

        x_conditional_probability = pd.DataFrame(x_conditional_probability,columns=x_unique,index=y_unique)
        conditional_probability['x'+str(i)] = x_conditional_probability

    return prior_probability,conditional_probability


prior_probability,conditional_probability = Naive_Bayes(data)

#Step 3: Make a Prediction

In [6]:
####################
# Prediction
####################
def prediction(X):
    x1=X[0];x2=X[1]
    p0=prior_probability[0]*conditional_probability['x1'][x1][0]*conditional_probability['x2'][x2][0]
    p1=prior_probability[1]*conditional_probability['x1'][x1][1]*conditional_probability['x2'][x2][1]

    if p0>p1:
        y_pred=0
    else:
        y_pred=1

    return y_pred

prediction(['B','S'])

0

References:

* https://towardsdatascience.com/introduction-to-na%C3%AFve-bayes-classifier-fa59e3e24aaf